.table-container {
  width: 95%;
  margin: 40px auto;
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 15px;
  text-align: left;
}

tbody tr {
  border-bottom: 1px solid #eee;
  transition: 0.2s;
}

tbody tr:hover {
  background-color: #f1f5ff;
}

